extends base.pug

block style 
    style 
       include ../static/style.css
       include ../static/styleContact.css




block content
    div.container
         h1 CLASS INFO IS COMING SOON.....
         h1 STAY TUNED